<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ncsu.carjuice.main"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />
    
    
    <!-- Certificate fingerprint (MD5): EA:4F:8A:BA:F9:26:34:9E:02:EC:EB:2C:87:B5:00:72 -->
    <!-- Google Maps API Key: 0ZW9qzV92JsKfWFXBRqywhBJr7dKdsaT_XpJ6Lg -->
    
    <uses-configuration android:reqKeyboardType="qwerty" />
    
    <!-- List of Features Used  -->
    	<uses-feature android:name="android.hardware.location" android:required="true" />
    	<uses-feature android:name="android.hardware.location.network" android:required="true" />
		<uses-feature android:name="android.hardware.location.gps" android:required="true" />
		<uses-feature android:name="android.hardware.touchscreen" android:required="true" />
    	<uses-feature android:name="android.hardware.wifi" android:required="true" />
  	<!-- End Feature List -->  
  
  	<!-- List of Required Permissions -->
  		<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
  		<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  		<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
  		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  		<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  		<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  		<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
  		<uses-permission android:name="android.permission.INTERNET" />
  		<uses-permission android:name="android.permission.WRITE_GSERVICES" />  <!-- Allows an application to modify the Google service map. Not sure if we need this one or not -->

  	<!-- need this one to use debugger 	<uses-permission android:name="android.permission.SET_DEBUG_APP" />  -->
  		
  	<!-- End Required Permissions List -->
  		
    
    <application
        android:icon="@drawable/ic_launcher_carjuice"
        android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar" >
        
        
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    
	    <activity android:name="ncsu.carjuice.main.StationsListActivity"/>
	    
	    <activity android:name="ncsu.carjuice.main.MapsActivity"/>
	    
    	<uses-library android:name="com.google.android.maps" />
    </application>

</manifest>